
.phoneWrapper {
  width: 400px;
  height: 740px;
  border-radius: 20px;
  background: #000000;
  border: 3px solid #999;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.phoneWrapper .in {
  width: 370px;
  height: 710px;
  background: #000000;
  border-radius: 15px;
  overflow: hidden;
}
.phoneWrapper .in .getFrame {
  width: 370px;
  height: 710px;
  border: 0 !important;
  padding: 0;
  margin: 0;
}

.hero {
  padding: 50px 0;
}
.hero .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.hero .textContent {
  width: calc(100% - 500px);
  position: relative;
  margin-top: 20px;
}
.hero .phoneContent {
  width: 500px;
  display: flex;
  justify-content: flex-end;
} 

@media only screen and (max-height: 800px) {
  .phoneWrapper {
    width: 400px;
    height: 670px;
  }
  .phoneWrapper .in {
    width: 370px;
    height: 640px;
  }
  .phoneWrapper .in .getFrame {
    width: 370px;
    height: 640px;
  }
}

@media only screen and (max-height: 730px) {
  .hero {
    padding: 0;
  }
  .heroTitle {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .phoneWrapper {
    width: 300px;
    height: 570px;
  }
  .phoneWrapper .in {
    width: 330px;
    height: 540px;
  }
  .phoneWrapper .in .getFrame {
    width: 370px;
    height: 540px;
  }
}

@media only screen and (max-height: 630px) {
  .phoneWrapper {
    width: 380px;
    height: 530px;
  }
  .phoneWrapper .in {
    width: 350px;
    height: 500px;
  }
  .phoneWrapper .in .getFrame {
    width: 350px;
    height: 500px;
  }
}

@media only screen and (max-width: 1199px) {
  .previewArrow {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .mobileDetected {
    display: flex;
  }
}

@media only screen and (max-width: 1400px) {
  .qr-button {
    right: auto;
    left: 20px;
  }
}

@media only screen and (max-height: 760px) {
  .phoneWrapper {
   margin-top: 10px;
  }
}
@media only screen and (max-height: 675px) {
  .phoneWrapper {
   margin-top: 0;
  }
}